---
layout: splash
---

<div class="initial-content">
   {{ content }}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}


<div>
  <span style="width:40%; display:inline-block;">
    <h3 class="archive__subtitle">Organized by</h3>
    <a href="https://www.circl.lu/"><img src="{{ site.url }}/images/logos/circl.png" /></a>
  </span>
</div>

<div>
  <span style="width:40%; display:inline-block;">

      <h3 class="archive__subtitle"><a href="/sponsoring">Sponsored by</h3>
<br/>
<a href="https://meco.gouvernement.lu/"> <img src="/images/logos/GOUV_MECO.jpg" /></a>
<a href="https://www.corelight.com/">_<img src="/images/logos/corelight.png" /></a>
<a href="https://www.deloitte.lu/">_<img src="/images/logos/deloitte.png" /></a>
<a href="https://www.cargolux.com/">_<img src="/images/logos/cargolux.png" /></a>
<a href="https://hacknowledge.com/"> <img src="/images/logos/hacknowledge.png" style="background-color: black; padding: 10px;"/></a>
<a href="https://www.pwc.lu/"> <img src="/images/logos/PricewaterhouseCoopers_Logo.png" /></a>
<br />
<img src="/images/logo-small.png">
<h3 class="archive__subtitle">Internet access by</h3>
<a href="https://www.conostix.com/"><img src="/images/logos/conostix.png" /></a>
<a href="https://www.post.lu/"><img src="/images/logos/post.png" /></a>
<a href="https://www.kappadata.be/fr/"><img src="/images/logos/Kappa_Data.png" /></a>
<a href="https://www.ruckusnetworks.com/"><img src="/images/logos/ruckus.png" /></a>
