---
layout: splash
---

<div class="initial-content">
   {{ content }}
</div>

<img src="/images/logo-small.png"></a>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<div>
  <span style="width:40%; display:inline-block;">
    <h3 class="archive__subtitle">Organized by</h3>
    <a href="https://www.circl.lu/"><img src="{{ site.url }}/images/logos/circl.png" /></a>
  </span>
</div>

<div>
  <span style="width:40%; display:inline-block;">

      <h3 class="archive__subtitle"><a href="/sponsoring">Sponsored by</h3>
      <a href="https://meco.gouvernement.lu/"><img src="/images/logos/mineco.png"></a> <br/> <br/>
      <a href="https://www.ncia.nato.int/"><img src="/images/logos/NCI-Agency-Logo-small.jpg" /></a><br /><br />
      <a href="https://www.corelight.com/"><img src="/images/logos/corelight.png" /></a><br /><br /> 
      <a href="https://www.pwc.lu/"> <img src="/images/logos/PricewaterhouseCoopers_Logo.png" /></a><br /><br />
      <a href="https://www.deloitte.lu/"><img src="/images/logos/deloitte.png" /></a><br /><br />
      <a href="https://cargolux.lu/"><img src="/images/logos/cargolux_tagline.png" /></a><br/><br/>
      <a href="https://www.sans.org/"><img src="/images/logos/SANS.png"/></a><br/><br/>
      <a href="https://snt.lu/"><img src="/images/logos/SnT_UL_colour_logo.png"/></a> <br/> <br/>
      <a href="https://www.threatray.com/"><img src="/images/logos/Threaray_Logo.png"></a> <br/> <br/>
      <a href="https://hacknowledge.com/"><img src="/images/logos/hacknowledge.png"></a> <br/> <br/>
      
      <h3 class="archive__subtitle"><a href="/sponsoring">Social Event Sponsor</h3>
      <a href="https://wedos.com/"><img src="/images/logos/wedos.png"></a> <br/> <br/>

      <h3 class="archive__subtitle"><a href="/sponsoring">Partners</h3>
      <a href="https://www.dcaf.ch/"><img src="/images/logos/DCAF.png"></a> <br/> <br/>
      <a href="https://www.giz.de/"><img src="/images/logos/GIZ.png"></a> <br/> <br/>
