---
layout: splash
---

<div class="initial-content">
   {{ content }}
</div>

<img src="/images/logo-small.png"></a>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent News" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<div>
  <span style="width:40%; display:inline-block;">
    <h3 class="archive__subtitle">Organized by</h3>
    <a href="https://www.circl.lu/"><img src="{{ site.url }}/images/logos/circl.png" /></a>
  </span>
</div>

<div>
  <span style="width:40%; display:inline-block;">

      <h3 class="archive__subtitle"><a href="/sponsoring">Sponsored by</h3>
      <a href="https://www.corelight.com/"><img src="/images/logos/corelight.png" /></a><br /><br />
      <a href="https://www.ncia.nato.int/"><img src="/images/logos/NCI-Agency-Logo-small.jpg" /></a><br /><br />
      <a href="https://www.pwc.lu/"> <img src="/images/logos/PricewaterhouseCoopers_Logo.png" /></a><br /><br />
      <a href="https://www.deloitte.lu/"><img src="/images/logos/deloitte.png" /></a><br /><br />
      <a href="https://cargolux.lu/"><img src="/images/logos/cargolux.png" /></a><nr /><br />
<br/>
